/* App animations and custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(2, 6, 23, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgba(30, 41, 59, 0.8);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(51, 65, 85, 1);
}