# Dependencies
node_modules/

# Expo & Build
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & keystores
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios/
/android/

# Metro & Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

# OS & Secrets
.DS_Store
*.pem
.env
.env*.local
!.env.example